{% extends "base_admin.html" %}
{% load staticfiles %}

{% block title %}Add Event{% endblock %}

{% block main %}
    <main>
    	<div class="no-pad-bot section" id="index-banner">
    		<div class="container">
    			<h1 class="header center blue-text">Event Registration</h1>
    			<div class="row center">
    				<h5 class="light">Add a new event!</h5>
    			</div>
    		</div>
    	</div>

    	<div class="container">
    		<div class="section">
          <div class="row">
          	<form class="col s12" action="/api/admin/event/">
          		<div class="container">
                <div class="row">
          				<div class="input-field col s12">
          					<i class="material-icons prefix">event</i>
          					<input name="title" id="title" type="text" class="validate">
          					<label for="title">Title</label>
          				</div>
          			</div>
          			<div class="row">
          				<div class="input-field col s12 m6">
          					<i class="material-icons prefix">attach_money</i>
          					<input name="value" id="value" type="text" class="validate">
          					<label for="value">Value</label>
          				</div>
                  <div class="input-field col s12 m6">
          					<i class="material-icons prefix">vpn_key</i>
          					<input name="key" id="key" type="text" class="validate">
          					<label for="key">Key</label>
          				</div>
          			</div>
								{% csrf_token %}
          			<button class="btn waves-effect waves-light blue accent-2" type="submit" name="action">Submit
          				<i class="mdi-content-send right"></i>
          			</button>
          		</div>
          	</form>
          </div>
    		</div>
    	</div>
    </main>
{% endblock %}

{% block js %}
                <script src="{% static 'js/admin/event.js' %}"></script>
{% endblock %}
