{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block main %}
		<main>
			<div class="no-pad-bot section" id="index-banner">
				<div class="container">
					<h1 class="header center blue-text">The Igloo</h1>
					<div class="row center">
						<h5 class="light">Welcome to the Igloo!</h5>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="section">
					<div class="row">
						<div class="col s12 m6 center">
							<i class="material-icons medium blue-text">vpn_key</i>
							<h5 class="header center light">Attend Events</h5>
							<p>Each event has its own code - a 7 character string of letters and numbers. Entering in these codes will earn you 10 points per hour of service or 5 points if it is a meeting code.</b></p>
						</div>
						<div class="col s12 m6 center">
							<i class="material-icons medium blue-text">star</i>
							<h5 class="header center light">Earn Rewards</h5>
							<p>Each point you earn will give you a ticket in a raffle. Drawings will be held (monthly?) during meetings.</p>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock %}
