{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block main %}
    <main>
    	<div class="no-pad-bot section" id="index-banner">
    		<div class="container">
    			<h1 class="header center blue-text">Submit</h1>
    			<div class="row center">
    				<h5 class="light">Submit your attendance codes!</h5>
    			</div>
    		</div>
    	</div>

    	<div class="container">
    		<div class="section">
          <div class="row">
          	<form class="col s12" action="/api/submit/">
          		<div class="container">
          			<div class="row">
          				<div class="input-field col s12">
          					<i class="material-icons prefix">event_seat</i>
          					<input name="code" id="code" type="text" class="validate">
          					<label for="code">Event Code</label>
          				</div>
          			</div>
								{% csrf_token %}
          			<button class="btn waves-effect waves-light blue accent-2 right" type="submit" name="action">Submit
          				<i class="mdi-content-send right"></i>
          			</button>
          		</div>
          	</form>
          </div>
    		</div>
    	</div>
    </main>
{% endblock %}

{% block js %}
                <script src="{% static 'js/submit.js' %}"></script>
{% endblock %}
